html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    background-color: #00004d;
}

.title {
    justify-content: center;
    display: flex;
    padding: 5px;
    background-color: #000020;
}

h1 {
    color: yellow;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.instruction {
    width: 100%;
}

.player {
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.computer {
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.sign {
    font-size: 200px;
}

.choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img {
    height: 200px;
    width: auto;
}

button {    
    background-color:#00004d;
    margin: 30px; 
}